body {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    grid-auto-rows: 100px;
    border:1px solid black;
    border-radius: 5px;
}
body div {
    display: grid;
    place-items: center start;
    padding-left: 30px;
    border:0.5px solid orange;
    border-radius: 5px;
    background-color: tan;
}