body p {
    background-color: hotpink;
    font-family: "Comic Sans MS";
}
body div {
    background-color: green;
    border: 1px solid black;
    border-radius: 5px;
    margin: 10px;
}
body div img {
    padding-top: 50px;
}
body div:nth-child(2) {
    background-color: blue;
}