body {
    flex-direction: column;
}
.row1 {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.row2 {
    display: flex;
    flex-direction: row;
    background-color: red;
    flex-grow: 2;

}
.row1 div {
    background-color: lightgreen;
    border: 1px solid black;
    width: 100px;
    height: 100px;
}
.row2 div {
    border: 1px solid black;
    flex-grow: 1;
    width: 100px;
    height: 50px;
}
.row2 div:nth-child(2) {
    width: 300px;
}
