.grid {
    display: grid;
    grid-template-columns: repeat(5, 100px);
    grid-template-rows: repeat(5, 100px);
    grid-gap: 3px;
}

.grid div {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black
}