body {
    height: 100vh;
    margin: 0 auto;
    max-width: 600px;
    background: rgb(45, 101, 201);
    background: linear-gradient(0deg, rgba(45, 101, 201, 1) 0%, rgba(193, 87, 112, 0.2754629629629629) 100%);

}

.grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);

}

.grid div {
    flex-basis: 50%;
    box-sizing: border-box;
}

.todo {
    border: 1px solid black;
    margin: 5px;
    flex-basis: 50%;
    box-sizing: border-box;
}

.filter {
    display: flex;
    border-radius: 10px;
    padding: 5px;
    margin: 0 auto
}