.complete {
    background-color: green;
}

.notcomplete {
    background-color: grey;
}

p {
    padding-left: 50px;
    font-family: "Comic Sans MS", "Comic Sans", cursive;
    background-color: greenyellow;
}

button {
    border-radius: 5px;
    padding: 5px;
}

.id {
    display: flex;
    justify-content: center;
    font-size: large;
    background-color: red
}