body {
    width: auto;
}
.teksti {
    background-color: yellow;
}
#teksti2 {
    background-color: red;
}
img {
    max-width: 300px;
    padding: 0.5em;
    margin: 0.5em 1em;
    background-color: blue;
}