body {
    width: 100%;
}
.i21 {
    grid-area: header;
}
.i22 {
    grid-area: menu;
    grid-row: 2/5;
    /* 2 palikka alkoo riviltä 2 ja menee 5 */
}
.i23 {
    grid-area: main;
}
.i24 {
    grid-area: main2;
}
.i25 {
    grid-area: main3;
}
.i1 {
    grid-area: i1;
}
.i2 {
    grid-area: i2;
}
.i3 {
    grid-area: i3;
}
.i4 {
    grid-area: i4;
}
.i5 {
    grid-area: i5;
}
.row1 {
    display: grid;
    grid-template-columns: repeat(5, 300px);
    grid-template-rows: 100px 100px;
    grid-template-areas: 
    'i1 i2 i3'
    'i4 i5 empty';
    margin-bottom: 100px;
}
.row2 {
    display: grid;
    border: 1px solid black;
    grid-template-rows: 100px 100px 100px 100px;
    grid-template-areas:
    'header header header header header header'
    'menu menu main main main2 main2'
    'menu menu main3 main3 empty empty';
    
}

.row1 div {
    background-color: red;
    border: 1px solid black;
}
.row2 div {
    background-color: lightgreen;
    border: 1px solid black;
    padding: 0 25px 100px 0;
}